/* reset */
@import url(css/reset.css);

/* deletar */
.taina {
    background-color: pink;
    margin-bottom: 30px;
    padding: 30px;
}

main {
    background-color: lightblue;
}

/* Header ===========================================================================*/

/* 
vh = viewport height
vw = viewport width
*/


header {
    padding: 68px 68px 0;
    margin: 0 0 40vh;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 20px;
}

header a {
 font-size: 20px;
 color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 1000px){
    header {
        background-color: green;
        padding: 16px 20px 0;
        position: relative;
    }   

    header h1 {
        width: 60%;
        background-color: burlywood;
    }

    header a {
        position: absolute;
        right: 20px;
        top: calc(16px + 24px); /* 24px é a altura da fonte*/
        order: 2;
        width: 95px ;
        background-color: beige;
    }  

    header a:first-child {
        top: 16px;
    }
   
}
/* End Header ===========================================================================*/

/* Works ===========================================================================*/

.works {
    padding: 0 10px;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.works .work {
    position: relative;
    background-color: coral;
}

.works .full{
    grid-column: span 2;
    height: 100vh;
    background-image: url(assets/predio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.works .work.full h2 {
    position:unset
}

.works .work img {
    display: block;
    max-width: 100%;
}

.works .work h2 {
    font-size: 180px;
    font-weight: 700;
    color: white;
    position: absolute;
    line-height: 180px;
    left: 2%;
}
@media screen and (max-width: 1000px){
    .works {
        padding: 0px;
    }
    .works .work {
        grid-column: span 2;
        margin: 0 10px;
    }
    .works .work.full{
        margin: 0;
    }
    .works .work h2 {
        font-size: 100px;
        line-height: 100px;
    }
}

@media screen and (max-width: 700){
    .works .work h2 {
        font-size: 60px;
        line-height: 60px;
    }
}